@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <div class="row" style="background-color: #F0F0F0;">
        <div class="col-md-6">           
            <div class="p-3">
                <img src="~/images/empresa.jpg" alt="Imagem da empresa" width="500" height="500">
            </div>
        </div>
        <div class="col-md-6">           
            <div class="p-3">
                <h2 id="sobre">Sobre</h2>
                <p>Bem-vindo à Sige Sistema de Vendas, onde a excelência em gestão de vendas encontra a inovação tecnológica. Somos uma empresa comprometida em fornecer soluções de primeira classe para otimizar os processos de vendas e aprimorar a gestão empresarial de organizações de todos os segmentos.</p>
                <h3>Nossa Missão</h3>
                <p>Nosso objetivo é revolucionar a maneira como as empresas gerenciam suas operações de vendas. Estamos empenhados em fornecer um software de gerenciamento de vendas moderno e eficiente, projetado para atender às necessidades específicas de nossos clientes. Entendemos que a gestão de vendas é uma parte crucial de qualquer negócio e, por isso, nos dedicamos a ajudar as empresas a alcançarem a máxima eficiência, reduzir custos e elevar a satisfação do cliente.</p>

            </div>
        </div>
        <div class="col-12">
            <div class="p-3">
                <h2 id="servicos">Serviço</h2>               
                <p>Na Sige Sistema de Vendas, nossa missão é fornecer soluções modernas e eficientes para otimizar a gestão de vendas em empresas de todos os segmentos. Entendemos que a gestão de vendas desempenha um papel crítico na receita e no sucesso de qualquer organização. É por isso que oferecemos uma gama abrangente de serviços para atender às necessidades específicas de nossos clientes:</p>
                <h3>Gerenciamento de Vendas Centralizado</h3>
                <p>Oferecemos uma plataforma avançada que permite que você gerencie suas vendas de maneira centralizada. Isso inclui o controle de produtos, clientes, fornecedores e pedidos, tudo em um único ambiente. Nossa abordagem centralizada simplifica a complexidade dos processos de vendas e fornece uma visão geral completa das operações.</p>
                <h3>Integração com Outras Ferramentas de Gestão</h3>
                <p>Reconhecemos a importância da integração. Nosso sistema pode se integrar perfeitamente com outros sistemas de gestão, como ERPs e CRMs. Essa integração permite que você otimize seus processos de negócios, melhorando a eficiência e a produtividade.</p>
            </div>
            <div class="p-3">
                <h2 id="contatos">Contatos</h2>
                <p>Estamos sempre prontos para ouvir você! Se você tiver alguma pergunta, sugestão, solicitação de suporte ou apenas quiser compartilhar suas ideias, não hesite em entrar em contato conosco.</p>
                <p>Nosso horário de atendimento é de segunda a sexta-feira, das 9h às 18h. Responderemos o mais rápido possível para ajudar a atender às suas necessidades.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p>Conecte-se conosco nas redes sociais</p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-facebook"></i> <a href="https://www.facebook.com" target="_blank">Facebook</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i> <a href="https://www.twitter.com" target="_blank">Twitter</a>
                            </li>
                            <li>
                                <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>Para contato direto, você pode nos alcançar das seguintes maneiras:</p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-envelope"></i> <a href="mailto:sigesistemavendas@exemplo.com">sigesistemavendas@exemplo.com</a>
                            </li>
                            <li>
                                <i class="fa fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=00000000000" target="_blank">(00) 99999-0000</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> (00) 9999-0000
                            </li>
                        </ul>
                    </div>
                </div>

                <p>Agradecemos por considerar a Sige Sistema de Vendas como seu parceiro para otimizar seus processos de vendas. Estamos ansiosos para ouvir você e ajudá-lo a atingir o sucesso em suas operações comerciais.</p>
                <p>Não hesite em nos contatar a qualquer momento!</p>
            </div>




        </div>
    </div>
</div>




